body{
    background-image: url(card.jpeg);
    background-repeat: no-repeat;
    background-size: 130% 180%;
    background-attachment: fixed;
    text-align: center;
    color:goldenrod;
}

img{
    border:2px solid goldenrod;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 0px;  
}


